@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="jumbotron">
        <p>
            This is my Tweet blog that contains all my brief explanations about programming concepts and daily learning experiences.
        </p>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption" role="option">
                <p>
                    ASP.NET Tutorials - Web and Mobile Development
                </p>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("NewestFiveTweets");
